body {
    background-color: #0c013ff1;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    width: 320px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3312c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

#download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#download-btn:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

footer {
    color: #fff;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
